// 基础颜色
$base-color: #409EFF;

// 菜单相关
$base-menu-background: #304156;
$base-menu-text: #bfcbd9;
$base-menu-active-text: #409EFF;
$base-menu-hover: #263445;
$base-sub-menu-background: #1f2d3d;
$base-sub-menu-hover: #001528;

// 主要文本颜色
$base-text-color: #303133;
$base-text-color-secondary: #909399;

// 边框颜色
$base-border-color: #DCDFE6;
$base-border-color-light: #E4E7ED;

// 背景颜色
$base-background-color: #F5F7FA;

// 禁用状态
$base-disabled: #C0C4CC; 